.info {
  margin: 10px 0;
}

button {
  background-color: #ff4500;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 7px 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  background-color: #d73600;
}

button:active {
  transform: scale(0.98);
}

.wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.icon {
  width: 24px;
  height: 24px;
}
