.wrapper {
  display: flex;
  font-size: 18px;
  gap: 20px;
  color: white;
  text-align: right;
  align-items: center;
}

.btn {
  background-color: white;
  color: #ff4500;
  border: 2px solid #ff4500;
  border-radius: 5px;
  padding: 5px 20px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
  background-color: #ff4500;
  color: white;
}
